// Background
$main-bg: #FAFAFA; // Main background color
$soft-bg: #E7E7E3; // Soft background color
$dark-bg: #D4D4CF; // Dark background color

// Text
$main-color: #151514; // Main text color
$soft-color: #5E92A3; // Soft text color (adjustment for harmony)
$dark-color: #003F62; // Dark text color